{% extends "../base.html" %}
{% block content %}
<!-- Page Content -->
<div class="container">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4">
    {{actor.name}}
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" src="{{actor.profile_picture.url}}" alt="">
    </div>

    <div class="col-md-4">
      <h3 class="my-3">About {{actor.name}}</h3>
      <h5>age: {{actor.age}} years old 
        <br>
      {{actor.get_gender_display}} </h5>
      
  
    </div>


  </div>


</div>
<!-- /.container -->
{% endblock content %}